<div>
	<div style="float:left">
		<img src="/images/foto.jpg" height="169" border=2 vspace=7 hspace=7 alt="Foto de Manuel Lillo - Autor">
		<p>Manuel Lillo</p>
	</div>

	<div>
		<video controls width="300" height="169">
			<source src="/images/video.MP4" type="video/mp4" />
		</video>
		<p>Vídeo de Presentación</p>
	</div>
</div>